<div class="row main-container">
    <div class="col-2 sidebar"></div>
    <div class="col-10 main-content">
      <h1>Experience</h1>
      <h2>Hyland Software</h2>
      <p>At Hyland Software, I worked two summer internships and fulltime for a semester. 
        Both summers I worked on the Revenue Cycle Management team in the Healthcare division, 
        which works with hostpital host systems to align insurance and payer information. 
      </p>
      <p>During my first summer at Hyland, I worked primarily on SQL and an in-house framework 
        called .edd. This framework is unlike anything else I have ever worked on, and I became 
        one of a small handful of people at the company who understood the framework, trusted with 
        a large portion of the .edd responsibility for the team. The difficult part of this framework 
        was the lack of documentation at hand while learning the framework. 
      </p>
      <p>At the beginning of my second stint at Hyland, the company began a modernization 
        effort that includes updating to Angular. The other team intern and I were assigned 
        with building a Host System from scratch, the software a hospital uses, for the 
        team to use to test their product against. Deciding to build the project in Angular, 
        my co-intern and I lead the modernization effort, documenting our efforts as we 
        learned Angular, automated testing, building RESTful APIs, and more. 
      </p>
    </div>
  </div>
  