<div class="app-container">
  <div class="slant-header"></div>
  <div class="tab-container">
    <div class="tabs row">
      <nav class="tab-nav">
        <div class="tab-main col-sm-3">
          <div class="tab-title" routerLink="/experience" routerLinkActive="active">EXPERIENCE</div>
          <a routerLink="/experience" routerLinkActive="active"></a>
        </div>
        <div class="tab-main col-sm-3">
          <div class="tab-title">EDUCATION</div>
          <a routerLink="/education" routerLinkActive="active"></a>
        </div>
        <div class="tab-main col-sm-3">
          <div class="tab-title">SKILLS</div>
          <a routerLink="/skills" routerLinkActive="active"></a>
        </div>
        <div class="tab-main col-sm-3">
          <div class="tab-title">PROJECTS</div>
          <a routerLink="/projects" routerLinkActive="active"></a>
        </div>
      </nav>
    </div>
  </div>
  <div class="title-container">
    <div id="profile" class="image"></div>
    <a routerLink=""></a>
  </div>
  <div class="title-words-container">
    <h1 class="title-text">Tyler Stohr</h1>
    <h3 class="subtitle-text">Software Developer</h3>
    <h3 class="subtitle-text">UX Developer</h3>
    <h3 class="subtitle-text">Good Samaritan</h3>
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
<!--   <div class="button-container row">
    <div class="button-main col-sm-3">
      <div class="button-title">EXPERIENCE</div>
      <div class="image"></div>
    </div>
    <div class="button-main col-sm-3">
        <div class="button-title">EDUCATION</div>
        <div id="education" class="image"></div>
    </div>
    <div class="button-main col-sm-3">
        <div class="button-title">SKILLS</div>
        <div class="image"></div>
    </div>
    <div class="button-main col-sm-3">
        <div class="button-title">PROJECTS</div>
        <div class="image"></div>
    </div>
  </div> -->
</div>

