.slant-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(26,35,126);
    background: linear-gradient(90deg, rgba(26,35,126,1) 0%, rgba(40,53,147,1) 71%, rgba(92,107,192 ,1) 100%);
    height: 360px;
    z-index: -1;
    -ms-transform: skewY(-10deg) translateY(-110px); /* IE 9 */
    -webkit-transform: skewY(-10deg) translateY(-110px); /* Safari */
    transform: skewY(-130eg) translateY(-10px); /* Standard syntax */
    -webkit-box-shadow: 0px 10px 80px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 80px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 80px -15px rgba(0,0,0,0.75);
}

.tab-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #4caf50;
    height: 280px;
    z-index: -2;
    -webkit-box-shadow: 0px 10px 80px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 80px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 80px -15px rgba(0,0,0,0.75);
}

.tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    margin: 0;
}

.tab-nav {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.tab-main {
    background-color: #4caf50;
    cursor: pointer;
    user-select: none;
    height: 100%;
    transition: 200ms; /* vendorless fallback */
    -o-transition: 200ms; /* opera */
    -ms-transition: 200ms; /* IE 10 */
    -moz-transition: 200ms; /* Firefox */
    -webkit-transition: 200ms; /*safari and chrome */
}

.tab-main a {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-decoration: none;
}

.tab-main:hover {
    background-color: #BDBDBD;
    height: 110%;
    transition: 250ms; /* vendorless fallback */
    -o-transition: 250ms; /* opera */
    -ms-transition: 250ms; /* IE 10 */
    -moz-transition: 250ms; /* Firefox */
    -webkit-transition: 250ms; /*safari and chrome */
}

.tab-title {
    position: absolute;
    bottom: 0;
    font-family: 'Nunito', sans-serif;
}