<div class="row main-container">
  <div class="col-2 sidebar"></div>
  <div class="col-10 main-content">
    <h1>Bio</h1>
    <p>Slated to graduate in May 2019 from The Ohio State University, I am a creative and 
      outgoing software developer with a tremendous ability to learn and exceptional team and 
      leadership skills. I have experience in all categories of development, from front-end 
      to back-end, on mobile and web, and have a wide variety of interests. 
    </p>
    <p>As the founder of my own business and student organization, I seek out and thrive 
      in leadership positions. As a leader, I value cohesive, synergetic teams that excel 
      at communication. 
    </p>
    <p>User Experience is one of my biggest interests. For my company, Socialyze, and at 
      Hyland Software, where I joined the UX Team, I focused on maximizing the user 
      experience for the project I was working on, both mobile app and web app, by 
      doing usabililty tests and running surveys. 
    </p>
    <p>I also have an interest in working with customers. I worked directly with customers 
      at my student organization to help accomplish their goals. I'm always interested in 
      continuing to work with customers, either as a manager, product owner, UX champion, 
      or consultant. 
    </p>
  </div>
</div>
